---
layout: page
title: Weiguang Cui
subtitle: My personal website
cover-img:
  - "assets/img/paper-figures/HYENAS.jpg": "Cui et al. 2024: The HYENAS project: a prediction for the X-ray undetected galaxy groups"
  - "assets/img/paper-figures/The300-image-HS.jpg": "Cui et al. 2018b: The 300 galaxy cluster project, illustrition hydrodynamic simulated clusters"
  - "assets/img/paper-figures/The300-image-HS.jpg": "Cui et al. 2018b: The 300 galaxy cluster project, illustrition SAM clusters"
  - "assets/img/paper-figures/Adens_diff-Cui_2016.jpg": "Cui et al. 2016b: density difference"
  - "assets/img/paper-figures/BCG-properties-Cui-2011.jpg" : "Cui et al. 2011: BCG properties"
  - "assets/img/paper-figures/BE-Cui2017.jpg" : "Cui et al. 2017: Baryon effects on cluster dynamical states"
  - "assets/img/paper-figures/Components-fraction.jpeg" : "Cui et al. 2018: fractions of different large-scale structures"
  - "assets/img/paper-figures/Cui10-Nolinear-power-spectrum-difference.jpg" : "Cui et al. 2010: Power spectrum difference for modified gravity model"
  - "assets/img/paper-figures/DMF-Cui2012.jpg" : "Cui et al. 2012a: halo mass different between DM and hydro runs."
  - "assets/img/paper-figures/DSC_frac_500_Cui-2014.jpg" : "Cui et al. 2014b: Intra-cluster light (+BCG) fractions"
  - "assets/img/paper-figures/forshow-eps-converted-to.jpg" : "Cui et al. 2016a: illustrition of different centers for galaxy clusters"
  - "assets/img/paper-figures/fractions-Cui2017.jpg" : "Cui et al. 2017: correlation for cluster dynamical states."
  - "assets/img/paper-figures/HMF_DE_Diff_FoF.jpg" : "Cui et al. 2012b: FoF Halo mass function difference between DE models and the LCDM model."
  - "assets/img/paper-figures/HMF_DE_Diff_SO_500.jpg" : "Cui et al. 2012b: SO Halo mass function difference between DE models and the LCDM model."
  - "assets/img/paper-figures/HMF_SO_CUI-2012.jpg" : "Cui et al. 2012a: Halo mass function difference by the influence of baryons at different overdensities."
  - "assets/img/paper-figures/HMF_SO_fit-Cui-2014.jpg" : "Cui et al. 2014a: residuals for the halo mass function after correcting the baryon effect."
  - "assets/img/paper-figures/HMF_SO_Z-cui2012.jpg" : "Cui et al. 2012a: Halo mass function difference by the influence of baryons at different redshifts."
  - "assets/img/paper-figures/HMF_SO-Cui-2014.jpg" : "Cui et al. 2014a: Halo mass function for different baryon models and different overdensities."
  - "assets/img/paper-figures/Icl_frac_500_Cui-2014.jpg" : "Cui et al. 2014b: ICL fractions for different surface brightnesses."
  - "assets/img/paper-figures/image=show-V.jpeg" : "Cui et al. 2018: illustrition of different large-scale structures."
  - "assets/img/paper-figures/LF-Cui-2011.jpg" : "Cui et al. 2011: the luminosity function at different large-scale environments with different models."
  - "assets/img/paper-figures/MD_fit-Cui-2014.jpg" : "Cui et al. 2014a: the halo mass changes and fitting"
  - "assets/img/paper-figures/MO.jpg" : "illustrition of multi-observations for simulated galaxy clusters"
  - "assets/img/paper-figures/Off-optical-Cui2016.jpg" : "Cui et al. 2016a: center offsets for optical observations"
  - "assets/img/paper-figures/Off-Xray-Cui2016.jpg" : "Cui et al. 2016a: center offsets for X-ray observations."
  - "assets/img/paper-figures/Power_spectrum_CUI08.jpg" : "Cui et al. 2008: the accurate power spectrum."
  - "assets/img/postimg/Cover-image-two-ways-of-formation_school.png" : "The evolution of the red/blue galaxies."
  - "assets/img/postimg/cover_image_3.png" : "The machine learning of galaxy cluster mass"
---

<div>
<!-- <h3><strong>Job ad: Postdoctoral Researcher in UAM</strong></h3>
</div>
<dd>
  The Computational Astrophysics & Cosmology Group of the Theoretical Physics Department of the Universidad Autónoma de Madrid offers one postdoctoral researcher position. 
  
  The purpose of this position is to carry out original research in the field of computational astrophysics \& cosmology. Review of applications will start on **December 1st , 2022**.
  
  Talk to me (weiguang.cui@uam.es) or Alexander Knebe (Alexander.Knebe@uam.es) for details.
</dd> -->



<div style="text-align:center">
<h3><strong>Recent Research Highlights </strong></h3> <!-- <br />  &nbsp;&nbsp; -->
</div>
  
<!-- <div id="featured-video" style="max-width:900px;margin:2rem auto;">
  <h3><strong>Featured Video for the300 galaxy clusters</strong></h3>
  <video controls preload="metadata" style="width:100%;height:auto;" poster="/assets/img/postimg/cover_image_3.png">
    <source src="https://simugal1.ft.uam.es/nextcloud/remote.php/dav/files/weiguang/backup/Public-movies/cl_001.mp4" type="video/mp4" />
    Your browser does not support the video tag.
    You can <a href="https://simugal1.ft.uam.es/nextcloud/index.php/s/yKsT6sHJWBzCQCs?dir=/&editing=false&openfile=true">download the videos here</a>.
  </video>
</div> -->
<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%;">
  <strong>Featured Video for the300 galaxy clusters</strong>
  
  <iframe
    src="https://www.youtube.com/embed/fXIrZA0OIT4"
    title="Video"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    style="position:absolute;top:0;left:0;width:100%;height:100%;"
  ></iframe>
</div>

  <ul style="float:left;">
    
  <li><STRONG>The HYENAS project</STRONG></li>
    <dd> Our new HYENAS galaxy group project with its first (<a href="https://ui.adsabs.harvard.edu/abs/2024MNRAS.tmp.2066C/abstract"> Cui et al. 2024 </a>) and second paper (<a href="https://ui.adsabs.harvard.edu/abs/2024arXiv240714415J/abstract"> Jennings et al. 2024 </a>) is out! 
      X-ray detection of galaxy groups are extremely hard, using the HYENAS galaxy group simulation -- a careful selected sample for resimulation, we predicted that, at the same halo mass, the early-formed halos tend to host more hot gas, thus can exceed the X-ray telescope's detection limit. While finding late-formed ones can be difficult. This leads to X-ray selected galaxy groups are a biased sample! Though, galaxy groups occupies the highest halo mass fraction (<a href="https://ui.adsabs.harvard.edu/abs/2024arXiv240603829C/abstract"> Cui 2024 </a>), we should be careful to them for cosmology due to this bias. In Jennings' paper, we studied the X-ray cavities -- a key feature (or smoking gun) for the AGN feedback, HYENAS agrees with observation in different aspects, which lead us to understand and constrain the observed AGN activities more accurately -- paving the road to fully understand the role of AGN feedback in galaxy formation. </dd>
    
  <li><STRONG>Predicted galaxy cluster mass by machine learning</STRONG></li>
    <dd> With a trained machine learning (ML) model, we, **for the first time**, made predictions on the cluster masses observed by Planck satellite. This work is published in the recent Nature Astronomy Journal (here is the <a href="https://www.nature.com/articles/s41550-022-01784-y"> link </a>). This work inspires future ML techniques in solving astronomy problems, not only in data analysis, model calibration, but also possibly in solving these fundamental questions. More information can be found in these blogs and websites: <a href="https://www.ph.ed.ac.uk/news/2022/understanding-our-universe-with-the-help-of-machine-learning-22-10-20"> UE news </a>, <a href="https://www.madrimasd.org/notiweb/noticias/inteligencia-artificial-proporciona-un-nuevo-metodo-medir-materia-oscura"> notiweb </a>, and also <a href="https://www.madrimasd.org/blogs/talento-cm-uam/2022/10/17/194/"> here </a>. </dd>

  <li><STRONG>The Three Hundred project: The GIZMO-SIMBA run </STRONG></li>
    <dd> Our new GIZMO-SIMBA run of the300 galaxy clusters is now out! Check this published paper here: <a href="https://academic.oup.com/mnras/advance-article/doi/10.1093/mnras/stac1402/6590057"> 10.1093/mnras/stac1402 </a>, <a href="https://weiguangcui.github.io/presentations/"> my presentation </a> and <a href="https://weiguangcui.github.io/2022-06-01-GIZMO-SIMBA/"> this blog article. </a> </dd>
       <!-- We present a large catalogue of theoretically modelled galaxy clusters for cosmological and astrophysical applications.
Please see <a href="https://weiguangcui.github.io/the300/"> the project page </a> and <a href="http://adsabs.harvard.edu/abs/2018MNRAS.480.2898C">the introduction paper</a> for details. -->

    <li><strong>The colour bimodality in SIMBA simulation</strong></li>
    <dd>We show in our recent Nature Astronomy <a href="https://t.co/XszUjkcrz4?amp=1"> paper </a> that the SIMBA simulation reproduced the observed colour bimodality and further revealed its intrinsic origination -- the halo assembly bias together with SIMBA's unique baryon models. General interests can be found in this <a href="https://t.co/myLiUe6nmH?amp=1"> news </a> and in my <a href="https://weiguangcui.github.io/2021-08-03-SHMR-public/"> blog </a>. </dd>
  </ul>
 
  <div style="text-align:center">
  <h3><strong> Acknowledgement </strong></h3> <!-- <br />  &nbsp;&nbsp; -->
  </div>
  
    <dd> Weiguang Cui gratefully thanks <a href="https://www.comunidad.madrid/" <STRONG> Comunidad de Madrid </STRONG> </a> for the Atracci\'{o}n de Talento fellowship no. 2020-T1/TIC19882 and <a href="https://www.aei.gob.es/" <strong>Agencia Estatal de Investigación (AEI)</strong> </a> for the Consolidación Investigadora Grant CNS2024-154838. He further acknowledges the Project  PID2024-156100NB-C21 financed by MICIU/AEI /10.13039/501100011033 / FEDER, EU and ERC: HORIZON-TMA-MSCA-SE for supporting the LACEGAL-III (Latin American Chinese European Galaxy Formation Network) project with grant number 101086388 and the science research grants from the China Manned Space Project.</dd>
    <div style="text-align:center">
    <img src="./assets/img/cm.png" alt="Comunidad de Madrid" style="height:128px;">
    <img src="./assets/img/aei.svg" alt="AEI" style="height:128px;">
    <img src="./assets/img/MCI.jpeg" alt="MCI" style="height:128px;">
    <img src="./assets/img/logo-ec--en.svg" alt="ERC-MSCA" style="height:128px;">
    </div>
      
  <!-- <ul>
    "This work was supported by the Agencia Estatal de Investigación (AEI) under the 'Consolidación Investigadora 2024' grant [CNS2024-154838].
    <li><strong>The large-scale environment project: </strong></li>
    <dd> In the second <a href=https://ui.adsabs.harvard.edu/#abs/2019MNRAS.tmp..557C/abstract> work </a> of <a href=https://weiguangcui.github.io/LSE/> the large-scale environment project </a>, we showed that the gas web is an unbiased tracer of total matter - even better at high redshifts. We further detailed how the baryons are distributed in different environments: about 40 per cent of gas is in the so-called warm-hot intergalactic medium (WHIM) with about half of the WHIM gas is located in filaments. </dd>
  </ul> -->
</div>

<!-- <div style="text-align:center">
<strong>Quick Links:</strong> &nbsp;&nbsp;
<a href="https://sites.google.com/view/cuiweiguang/" role="button" class="btn btn-primary">My old Google page</a>
</div> -->

<!-- Google Tag Manager -->
<!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PH34DVS');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH34DVS" -->
<!-- height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
<!-- End Google Tag Manager (noscript) -->

<!-- Google AD -->
<!-- <script async src="https://www.pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-7048633457374104",
          enable_page_level_ads: true
     });
</script> -->
<!-- end of Google AD -->

<!-- <div class="alignleft">
     <script type="text/javascript">
       	amzn_assoc_ad_type = "banner";
      	amzn_assoc_marketplace = "amazon";
      	amzn_assoc_region = "US";
      	amzn_assoc_placement = "assoc_banner_placement_default";
      	amzn_assoc_banner_type = "ez";
      	amzn_assoc_p = "8";
      	amzn_assoc_width = "120";
      	amzn_assoc_height = "240";
      	amzn_assoc_tracking_id = "mygitwebsite-20";
      	amzn_assoc_linkid = "{{link_id}}";
     </script>
     <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
</div> -->


<!-- <div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %} -->
