{% assign issues_repo = site.issues_repo %}
{% assign issue_id = include.issue_id %}

<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  display: table-cell;
  vertical-align: bottom;
  height: 100px; /* Should be removed. Only for demonstration */
}

.column_right {
  float: left;
  width: 50%;
  text-align: right;
  padding: 10px;
  display: table-cell;
  vertical-align: bottom;
  height: 100px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.comment-actions:after {
  content: "";
  display: table;
  clear: both;
  vertical-align: bottom;
}
</style>

<section id="comments">
  <div class="comment-actions">
    <div class="column">
    <h2><span id="comments-count" aria-hidden="true"></span>Comments </h2>
    </div>
    <div class="column_right">
    <h4> <a class="button"
      href="https://github.com/{{ issues_repo }}/issues/{{ issue_id }}"
      >Comment on GitHub <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg> </a> </h4>
    </div>
  </div>
  <div id="comments-wrapper">
    Loading...
  </div>
</section>

<!-- Comments script -->
<script>
  const commentsSection = document.getElementById('comments');
  const commentsWrapper = commentsSection.querySelector('#comments-wrapper');
  const commentsCount = commentsSection.querySelector('#comments-count');
  
  const commentsObserver = new IntersectionObserver((entries, self) => {
    entries.forEach((entry) => {
    if (entry.isIntersecting) {
      fetchComments(); // this is the important part
      self.unobserve(entry.target);
      }
    })
  }, { rootMargin: '200px 0px 0px 0px' });

  commentsObserver.observe(commentsSection);
  
  const fetchComments = async () => {
  try {
    const comments = await (await fetch(
      'https://api.github.com/repos/{{ issues_repo }}/issues/{{ issue_id }}/comments'
      )).json();
      initRenderComments(comments);
  } catch (e) {
    commentsWrapper.innerHTML = `<p>Unable to retrieve the comments for this post.</p>`;
    }
  }
  
  const loadScript = (src) => {
    const scriptElement = document.createElement('script');
    document.body.appendChild(scriptElement);

    return new Promise((resolve) => {
      scriptElement.onload = resolve;

      // Important to register onload before setting src
      scriptElement.src = src;
    });
  }

  const commentScripts = [
    'https://unpkg.com/marked@0.3.6/marked.min.js',
    'https://unpkg.com/dompurify@1.0.8/dist/purify.min.js',
    'https://unpkg.com/dayjs@1.8.21/dayjs.min.js',
    'https://unpkg.com/dayjs@1.7.8/plugin/relativeTime.js',
  ];

  // Reminder: this gets called when the viewport intersects with the comments section
  const initRenderComments = async (comments) => {
    if (!comments.length) {
      commentsWrapper.innerHTML = `<p>No comments yet 👀 Be the first to post!</p>`;
      return;
    }

    // Load all comment script dependencies async
    await Promise.all(commentScripts.map((script) => loadScript(script)));
    renderComments(comments);
  }

  const renderComments = (comments) => {
    // load the relativeTime plugin for dayjs so we can express dates relative to now
    dayjs.extend(dayjs_plugin_relativeTime);

    commentsCount.innerText = `(${comments.length})`;

    const commentsList = document.createElement('ol');
    commentsList.className = 'comments-list';
    commentsList.setAttribute('aria-label', 'Comments on this blog post');

    commentsList.innerHTML = comments
    .sort((comment1, comment2) => {
      return comment1.created_at < comment2.created_at ? 1 : -1;
    })
    .map(comment => {
      const datePosted = dayjs(comment.created_at).fromNow();
      const user = comment.user;
      const body = DOMPurify.sanitize(marked(comment.body));
      const postedByAuthor = comment.author_association === 'OWNER';
      const edited = comment.created_at !== comment.updated_at;

      return `<div class="comment">
                  <div class="commenter">
                    <img src="${user.avatar_url}" alt="" size="32" height="32" width="32" aria-hidden="true" class="meta avatar"/>
                    <a href="https://github.com/${user.login}" class="meta username">${user.login}</a>
                    commented <time datetime="${comment.created_at}" title="${comment.created_at}">${datePosted}</time>
                    ${edited ? `<span class="meta comment-edited">(edited)</span>` : ''}
                  </div>
                  <div class="comment-body">${body}</div>
              </div>`;
    })
    .join('');

    commentsWrapper.innerHTML = '';
    commentsWrapper.appendChild(commentsList);
  }
  
</script>


{% if page.comments %}
  {% include disqus.html %}
  {% include fb-comment.html %}
  {% include staticman-comments.html %}
  {% include utterances-comment.html %}
  {% include giscus-comment.html %}
  {% include commentbox.html %}
{% endif %}
