{% if site.google_ad_client %}
  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-NMX3V1EFYD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NMX3V1EFYD');
  </script> -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9308917006328475"
     crossorigin="anonymous"></script>
     
   <!-- <script type="text/javascript">
   amzn_assoc_placement = "adunit0";
   amzn_assoc_search_bar = "true";
   amzn_assoc_tracking_id = "weiguangwebsi-20";
   amzn_assoc_search_bar_position = "bottom";
   amzn_assoc_ad_mode = "search";
   amzn_assoc_ad_type = "smart";
   amzn_assoc_marketplace = "amazon";
   amzn_assoc_region = "US";
   amzn_assoc_title = "Shop Related Products";
   amzn_assoc_default_search_phrase = "offer";
   amzn_assoc_default_category = "All";
   amzn_assoc_linkid = "e5b222a8350de8a28d33fb9daa319885";
   </script>
   <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->
{% endif %}
