<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id = "social-share-section">
  <span class="sr-only">Share: </span>

  Share to: 

  {% if site.share-links-active.twitter %}
    <a href="https://twitter.com/intent/tweet?text={{ page.title | strip_html | url_encode }}&url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-twitter" title="Share on Twitter">
      <span class="fab fa-fw fa-twitter" aria-hidden="true"></span>
      <span class="sr-only">Twitter</span>
    </a>
  {% endif %}

  {% if site.share-links-active.facebook %}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-facebook" title="Share on Facebook">
      <span class="fab fa-fw fa-facebook" aria-hidden="true"></span>
      <span class="sr-only">Facebook</span>
    </a>
  {% endif %}

  {% if site.share-links-active.linkedin %}
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
      <span class="fab fa-fw fa-linkedin" aria-hidden="true"></span>
      <span class="sr-only">LinkedIn</span>
    </a>
  {% endif %}

  {% if site.share-links-active.vk %}
    <a href="https://vk.com/share.php?url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-vk" title="Share on VK">
      <span class="fab fa-fw fa-vk" aria-hidden="true"></span>
      <span class="sr-only">VK</span>
    </a>
  {% endif %}

  {% if site.share-links-active.reddit %}
    <a href="https://www.reddit.com/submit?url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-reddit" title="Share on Reddit">
      <span class="fab fa-fw fa-reddit" aria-hidden="true"></span>
      <span class="sr-only">Reddit</span>
    </a>
  {% endif %}

</section>

<section>
  Please click the following Amazon links to support me:
  
  <a href="https://www.amazon.co.uk/gp/deals?ie=UTF8&pd_rd_w=UnS53&content-id=amzn1.sym.636ade8c-6ecb-4e90-b306-f1b740959275&pf_rd_p=636ade8c-6ecb-4e90-b306-f1b740959275&pf_rd_r=M3VHA67J5YWF3SB9EAXN&pd_rd_wg=YPnQ8&pd_rd_r=b4c3fa2e-dd83-4fd6-acd5-f279b97df7e7&linkCode=ll2&tag=weiguangwebsi-21&linkId=16fc3d62c4a3d4e610ede080e34dddc4&language=en_GB&ref_=as_li_ss_tl"
    class="btn btn-social-icon btn-amazon" title="Ads on Amazon -- Today's Deal">
    <!-- <span class="fab fa-fw fa-amazon" aria-hidden="true"></span>
    <span class="sr-only">Amazon</span> -->
    Today's Deal
  </a>
  
  <a target="_blank" href="https://www.amazon.co.uk/baby-reg?tag=weiguangwebsi-21"
    class="btn btn-social-icon btn-amazon" title="Ads on Amazon -- baby">
    <span class="fab fa-fw fa-amazon" aria-hidden="true"></span>
    <span class="sr-only">Amazon</span>
  </a>
  
  <a target="_blank" href="https://www.amazon.co.uk/ftu/home?ac-ms-src=ac-carousel-AmazonKids%2B&linkCode=ll2&tag=weiguangwebsi-21&linkId=b96072bec94697fc18a1f3f7c9315e4b&language=en_GB&ref_=as_li_ss_tl"
    class="btn btn-social-icon btn-amazon" title="Ads on Amazon -- kids">
    <span class="fab fa-fw fa-amazon" aria-hidden="true"></span>
    <span class="sr-only">Amazon</span>
  </a>
  
  <a target="_blank" href="https://www.amazon.co.uk/Me-My-Piano-Waterman-Harewood/dp/0571510078?&linkCode=ll1&tag=weiguangwebsi-21&linkId=928862053ab6447a4a49d8e290e1aba7&language=en_GB&ref_=as_li_ss_tl"
    class="btn btn-social-icon btn-amazon" title="Ads on Amazon -- Specific">
    <span class="fab fa-fw fa-amazon" aria-hidden="true"></span>
    <span class="sr-only">Amazon</span>
  </a>
</section>

{% endif %}
